.idea

*.ipr
*.iml
*.iws
*.ids

*.swp

src/components/drawings/static/*/js/*
src/client/static/components/css/drawings.css
src/client/static/*/images/*
src/client/static/components/js/drawings/drawings.js
