.geometryEditor {
    width: 100%;
    height: 100%;
    position: relative;
    top: 30px;
}

#objects_button {
    width: 20px;
    display: inline-block;
    float: left;
    position: relative;
    top: 88px;
}
#objects_button .obj_button {
    height: 20px;
    width: 20px;
    margin: 9px 0;
    background: rgba(0, 0, 255, 0.301961);
    border-radius: 50%;
    border-width: 1px;
    border-color: rgb(0, 0, 255);
}
#geometry_applet_container {
    diaplay: inline-block;
}
