.toolbar {
    width: 80px;
    height: inherit;
    position: absolute;
}

.toolbar .button {
    width: 40px;
    height: 40px;
    margin: 0 20px 20px;
}

.toolbar .button.point {
    background: url("../images/point.gif") no-repeat;
    background-size: cover;
}

.toolbar .button.line {
    background: url("../images/line.gif") no-repeat;
    background-size: cover;
}

.toolbar .button.segment {
    background: url("../images/segment.jpg") no-repeat;
    background-size: cover;
}

.toolbar .button.clear {
    background: url("../images/clear.gif") no-repeat;
    background-size: cover;
}

.jxgbox {
    width: 100%;
    height: 100%;
    margin-left: 80px;
}