.geometryEditor {
    width: 100%;
    height: 100%;
}

.geometryEditor .toolbar {
    width: 10%;
    height: 100%;
    max-width: 80px;
    float: left;
}

.geometryEditor .toolbar .button {
    width: 40px;
    height: 40px;
    margin: 0 auto 20px;
}

.geometryEditor .toolbar .button.point {
    background: url("../images/drawings/point.gif") no-repeat;
    background-size: cover;
}

.geometryEditor .toolbar .button.line {
    background: url("../images/drawings/line.gif") no-repeat;
    background-size: cover;
}

.geometryEditor .toolbar .button.segment {
    background: url("../images/drawings/segment.jpg") no-repeat;
    background-size: cover;
}

.geometryEditor .toolbar .button.clear {
    background: url("../images/drawings/clear.gif") no-repeat;
    background-size: cover;
}

.geometryEditor .toolbar .button.save {
    background: url("../images/drawings/save.jpg") no-repeat;
    background-size: cover;
}

.geometryEditor .board {
    width: 90%;
    height: 100%;
}